#container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
#input {
    outline: 0;
    padding: .25rem;
    margin-right: .5rem;
    border: .05rem solid rgb(145, 145, 145);
    border-radius: .4rem;
    transition: box-shadow .5s;
}
#input:focus {
    box-shadow: 0 0 .75rem rgb(122, 122, 196);
}

#page {
    margin-left: .5rem;
    margin: 0;
}